[Desktop Entry]
Categories=Network;Email;News;GTK;
Comment[de]=Emails lesen und verfassen
Comment=Emails lesen und verfassen
Comment[ca]=Llegiu i escriviu correu
Comment[cs]=Čtení a psaní pošty
Comment[fi]=Lue ja kirjoita sähköposteja
Comment[fr]=Lire et écrire des courriels
Comment[it]=Leggere e scrivere email
Comment[ja]=メールの読み書き
Comment[pl]=Czytanie i wysyłanie e-maili
Comment[pt_BR]=Ler e escrever suas mensagens
Comment[sv]=Läs och skriv e-post
Exec=icedove %u
GenericName[de]=Mail Client
GenericName=Mail Client
GenericName[ja]=メールクライアント
Icon=icedove
Keywords=Mail;Contact;Addressbook;News;
MimeType=text/vcard;text/calendar;message/rfc822;
Name[de]=Thunderbird/ Icedove
Name=Thunderbird/ Icedove
Name[ca]=Client de correu Icedove
Name[cs]=Poštovní klient Icedove
Name[fi]=Icedove-sähköposti
Name[fr]=Messagerie Icedove
Name[ja]=Icedove メールクライアント
Name[pl]=Klient poczty Icedove
Name[pt_BR]=Cliente de E-mail Icedove
Name[sv]=E-postklienten Icedove
Path=
StartupNotify=true
StartupWMClass=Icedove
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
